<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>359761565123-8vpb0k2uvvjk9he88kso4kuh3epc8to9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.359761565123-8vpb0k2uvvjk9he88kso4kuh3epc8to9</string>
	<key>API_KEY</key>
	<string>AIzaSyBZRgm8qfhD3R4923M8XVMdlvyIOtAZp0M</string>
	<key>GCM_SENDER_ID</key>
	<string>359761565123</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>FPNews</string>
	<key>PROJECT_ID</key>
	<string>fpnews-e1ae4</string>
	<key>STORAGE_BUCKET</key>
	<string>fpnews-e1ae4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:359761565123:ios:31e839d75cc5c4e9971976</string>
</dict>
</plist>